// Placeholder to allow overriding predefined variables smoothly.

$base-font-family: "IM Fell English Roman", "fontello-icons-custom", "Literata", Arial, serif, ui-serif;
$code-font-family: "Source Code Pro", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;

$base-font-size:   19px;