
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-attention:before { content: '\e801'; } /* '' */
.icon-attention-circled:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
